swagger: '2.0'
info:
  version: 1.0.1
  title: MyStay Hcontrol API
  description: API used for integration of MyStay with Hcontrol PMS
  contact:
    name: Denis Fiser
    email: denis.fiser@mystay.cz
    url: 'http://mystay.cz'
host: hcontrol.nl
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /reservations:
    post:
      description: Get all active reservations
      operationId: getReservations
      parameters:
        - name: hotel
          in: formData
          description: 'Username/hotel code (hilton, clemens, etc.)'
          required: true
          type: string
        - name: key
          in: formData
          description: Hcontrol API key
          required: true
          type: string
      responses:
        '200':
          description: reservations
          schema:
            $ref: '#/definitions/Reservations'
        '400':
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Reservations:
    type: object
    required:
      - reservations
      - code
    properties:
      code:
        type: integer
        format: int32
        enum:
          - 1
          - 101
          - 102
        default: 1
        description: >
          Status codes: - 1: OK - 101: Username not found - 102: Unauthorized
          access, check your api key
      message:
        type: string
        default: OK
      reservations:
        type: array
        items:
          $ref: '#/definitions/Reservation'
  Reservation:
    required:
      - username
      - calendarName
      - accessKey
      - mobileNumber
      - startDate
      - endDate
    properties:
      username:
        type: string
        description: 'Username/hotel code (example: hilton, clemens, etc.)'
      calendarName:
        type: string
        description: Room number
      accessKey:
        type: string
        description: Access key to enter the room
      mobileNumber:
        type: string
        description: Client mobile number
      startDate:
        type: string
        format: date
        description: booking start date e.g. 2016-07-12
      endDate:
        type: string
        format: date
        description: booking end date e.g. 2016-07-18
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
        enum:
          - 1
          - 101
          - 102
      message:
        type: string